* {
    text-shadow: none;
}

window#waybar {
    /* Large size for shorter side padding*/
    background-color: transparent;
}

.modules-left {
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 1.0);
    padding: 0 4 0 32px;
}

.modules-center {
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 1.0);
}

.modules-right {
    border-radius: 50px;
    margin: 0 -20px;
    background-color: rgba(51, 51, 51, 1.0);
    padding: 0 24px;
}

tooltip {
    background-color: rgba(18, 18, 18, 1.0);
    border: 1px solid rgba(34, 34, 34, 0.5);
    border-radius: 12px;

    font-family: "LXGW WenKai Mono",/* "Inconsolata SemiBold", */"Symbols Nerd Font";
    font-size: 16px;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#window/*
#workspaces */{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 6px 0px 1px;
    background-color: transparent;

    font-family: "LXGWWenKaiMono Nerd Font";
    font-size: 18px;
}

#workspaces {
    /* border: rgba(255, 255, 255, 0.2) solid 2px; */
    padding: 0px 8px 0px 8px;

    transition-property: background, color, border;
    font-family: "Symbols Nerd Font";
    transition-duration: 0s;
}

#workspaces button {
    border: none;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent;
    color: #ffffff;
    margin: 0 2px;
    min-width: 24px;

    transition-property: background, color, border, margin, padding;
    transition-duration: 0.2s;
}

#workspaces button:hover {
    /* background: rgba(255, 255, 255, 0.5); */
    color: rgba(255, 255, 255, 0.5);
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
    /* background: #ffffff; */
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1px;
    /* padding: 0 4px; */
}

#workspaces button.urgent {
    color: #eb4d4b;
    border-bottom: 3px solid #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock {
    color: #eefff1;
}

#cpu {
    color: #FE968B;
}

#memory {
    color: #FFEAAA;
}

#pulseaudio {
    color: #a4e4fe;
}

#network {
    color: #b0f5e5;
}

#mpd {
    color: #fffff1;
    font-family: "LXGWWenKaiMono Nerd Font";
    font-size: 18px;
    padding: 0px 8px 0px 8px;
}

#tray {
    /* border: rgba(255, 255, 255, 0.2) solid 2px; */
    color: transparent;
}

#window {
    color: #e6f2d6;
    padding: 0px 8px 0px 6px;
    margin-left: 4px;
    font-size: 15px;
    font-family: "Inconsolata-Semibold";
}
